<div><img class="mx-auto d-block" src="assets\images\BookstoreAdminLogo.png" width="50%" align="middle"></div>
<div class="container">
    <h3 style="text-align: center">Book Store Administration</h3>
    <h5 style="text-align: center">Admin Login</h5>
    <form #adminForm="ngForm" (ngSubmit)="login(admin)">
        <table style="width:50%;margin-left: auto;margin-right: auto">
            <tr>
                <td><label class="control-label">Email:</label></td>
                <td><input type="email" name="email" [(ngModel)]="admin.email"/></td>
            </tr>
            <tr>
                <td><label class="control-label">Password:</label></td>
                <td><input type="password" name="password" [(ngModel)]="admin.password"/></td>
            </tr>
        </table>
        <div class="wrapper" style="text-align: center">
            <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </form>
</div>
